<div class="date"><button><div><br />12</div></button></div>
<div class="members">
	<!--<div class="wrapper">-->
		<button type="button">
			<img {{bindAttr src="image_url"}} />
		</button>
	<!--</div>-->
</div>	

