// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	body .sidebar .date button {
		margin-top: 20px;
	
	}
	body .members {
	    //position: absolute;
		margin-top: 70px;	    
	}	
	
	body #actions {
		position: fixed;
	}
	
	body .content {
	    margin-top: 70px;
	}
}


 
