body#new {
	.container {
		width: 550px;
		border: 1px solid;
		form#new_event {
			
			font-size: 16px;
			color: $c_gray5;
			h3 {
				background-color: $c_gray1;
				height: 20px;
				padding: 5px;
				color: $c_prm-1;
			}
			
			#title, #description, fieldset, select, .controls, fieldset > input {	
				border-radius: 0.4em;			
				margin-top: 20px;
				margin-left: 60px;
			}
			
			#title {
				height: 20px;
			}
			
			#description {	
				height: 100px;
				width: 400px;
				height: 60gpx;
			}
			
			fieldset  {		
				border: 1px solid $c_gray2;	
				width: 400px;
				height: 50px;
				padding: 5px;
				input {
					margin: 0px;
					height: 20px;
				}					
			}
			
			.controls {
				margin-bottom: 20px;			
			}					
		}			
	}
}
