$event_width: 550px;
$photos_width: 64px;
$actions_width: 50px;


#events .current{	
	width: 40%;
	position: relative;
	top: 20px;
	left: 20px;
}

section.event_item {
	width: $event_width;
	margin: 15px 3px;
	border-bottom: solid 1px $c_gray2;
	> header {
		width: $event_width;
		position: relative;
		> section {
			position: absolute;
			width: $event_width;
		}
		.time_panel {
			color: $c_prm-1;
			font-weight: bold;	
			font-size: 10pt;		
		}
		.title {
			@include ellipsis();
			@include font_cursive;
			color: $c_gray5;
		}
		.action_panel {
			
			.actions {
				float: right;
				width: $actions_width;
				img {
					width: 16px;
					height: 16px;
				}
			}
			.photos {
				img {
					width: 32px;
					height: 32px;
				}
				float: left;
				width:$photos_width;
				height: 32px;
				font-size: 0.5em;
			}			
		}		
			
	}
	
	> .details_panel {
		margin: 12px;
		color: $c_gray5;		
	}		
}

//////////////////////////////////////////   //////////////////////////////////////

section.event_item.partial {
	> header {		
		$time_panel_width: 110px;
		$photos_width: 96px;
		$action_panel_width: 60px;
		$top_panel_height: 40px;
		$actions_height: 32px;
		$header_height: $top_panel_height + $actions_height;
		
		height: $header_height; 
				
		.top_panel {
			height: $top_panel_height;
			.time_panel, .title {
				display: block;
				position: absolute;
				height: $top_panel_height;
				line-height: $top_panel_height;				
			}
			
			.time_panel {
				width: $time_panel_width;
			}	
			.title {
				width: $event_width - $time_panel_width;
				right: 0;
				font-size: 12pt;					
			}					
		}		
		
		.action_panel {
			top: $top_panel_height;
			height: $actions_height;
			> .details_panel {
				width: $event_width - $photos_width - $actions_width;
				@include ellipsis;
				font-size: 9pt;
				color: $c_gray3;
			}				
		}		
	}	
}
/////////////////////////////

section.event_item.full {	
	> header {		
		$top_panel_height: 20px;		
		$title_height: 36px;
		$actions_height: 32px;
		$top_panel_title_height: $top_panel_height + $title_height;
		$header_height: $top_panel_title_height + $actions_height;
		
		height: $header_height; 
		
		.top_panel {
			height: $top_panel_height;
			width: 100%;
			left: 0;
			top: 0;		
		}
		
		.title {
			top: $top_panel_height;
			height: $title_height;
			width: 100%;
			font-size: 15pt;
		}
		
		.action_panel {
			top: $top_panel_title_height;
			height: $actions_height;			
		}		
	}
	
	> .details_panel {
		width: $event_width;	
	}	
}


