body#new {
	.container {
		width: 550px;
		border: 1px solid;
		form#new_event {
			border: 1px solid $c_gray2;	
			font-size: 16px;
			color: $c_prm-1;
			h3 {
				background-color: $c_gray1;
				height:15px;
				padding: 5px 0px 5px 10px;
				color: $c_prm-1;
			}			
			#title, #description, fieldset, .controls, .members {						
				margin-top: 16px;
				margin-left: 70px;
			}	
			span#date, span#time {
				border: 1px solid blue;
			}	
					
			section.time {				
				height: 120px;	
				section.from, section.to{		
					margin-left: 10px;
					
					select#hours {
						margin-left: 40px;
					}
					#hours, #minutes {				
						font-size: 16px;
						margin-top: 16px;	
					}
					
				}				
				section.duration {
					margin-left: 10px;
					margin-top: 30px;
					.layout-slider{
						bottom: 20px;
						left: 85px;
						position: relative;
					}
				}
				section.to {
					#time, #date {
						margin-left: 60px;
					}
				}
			}	
			#title {
				height: 20px;
			}
			
			#description {					
				width: 410px;
				height: 60px;
				border: 1px solid $c_gray2;					
			}
			.controls {				
				width: 150px;	
				margin-bottom: 20px;			
				.create_button, .save_button {
					margin-right: 10px;
					width: 60px;
					height: 30px;
				}		
			}
		}			
	}
}
