#index {
	margin: 0px;
	padding: 0px;
	.members {
		display: none;
	}
	.content .day_picker {
		@include box-ordinal-group(2);
		margin: 0px;
	}	
	.content .events {
		padding: 0px;
		@include box-orient(vertical);
	}
	section.event_item {
		margin: 2px 0px;
	}
}