@mixin shadows {
	box-shadow: 5px 5px 35px $prm_2b;
}

body#log_items {	
	font-family: Verdana;
	font-size: 80%;
	//background-color: #dddddd;
	background-color: $prm_2;				
}

section#head {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	min-width: 1000px;
	height: 36px;		
	background-color: #333333;
	color: white;
	@include shadows;
	div.app_logo {
		position: absolute;
		left: -12px;
		width: 250px;
		height: 36px;
		cursor: pointer;
		top: 5px;
	}
	.nav_main {
		position: relative;
		margin-left: 250px;
		height: 36px;
		min-width: 100px;		
		.left, .right{
			position: absolute;	
			display: block;
			padding: 8px;		
		}
		.left {
			left: 20px;
		}
		.right {
			right: 20px;
		}
		li {
			display: inline;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}	
}

aside#navigation {	
	position: absolute;	
	top: 56px;
	left: 0;
	bottom: 0;
	width: 250px;
	background-color: silver;
	h3 {		
		padding: 8px;
		background-color: $sec_3;
		color: white;
	}		
	nav {
		min-height: 300px;
		@include shadows;
		.latest input {
			text-decoration: none;
			height: 30px;			
		}
	}	
}

section#content {
	//overflow: auto;
	#content_header 
	{
		position: absolute;
		top: 56px;
		left: 270px;
		height: 100px;
		width: 1200px;
		display: block;
		background: $sec_3;
		//background: #273b4e;
		border-radius: 5px;
		@include shadows;	
		h3 {	
			padding: 8px;
			background-color: $sec_3;
			color: white;
		}
	}
	#content_center {
		position: absolute;
		display: block;	
		top: 156px;
		left: 270px;
		bottom: 20px;
		width: 1200px;	
		//padding: 5px;
		//overflow: auto;
		overflow-y: auto;
		background: #DDDDDD;
		@include shadows;
		.log_list_panel {
			position: relative;
		}		
	}	
}























