html{
	//overflow: auto;
}
body {
	//min-width: 100%;
}


#index {
	min-width: 100%;
	overflow: auto;
	border: 2px solid green;
	$members_width: 100px;
	$actions_height: 30px;
	
	background: #FFFFF2;
	height:  1400px;
	//width: 100%;
	max-width:  1024px;
	////margin-top: 15px;
	#actions {
		top: 0px;
		left: 0px;
		height: $actions_height;
		width: 100%;
		position: fixed;
		background-color: brown;
		z-index: 2;
		a {
			//border: 1px solid;
		}
	}
	.members {		
		top: $actions_height;
		left: 0px;
		width: $members_width;
		margin-top: 15px;
		background-color: orange;
		position: fixed; ////
		z-index: 1;
		img {
			display: block;
			//margin-top: 10px;
			//margin-left: auto;
			//margin-right: auto;
			@include border-radius(5px);
		}
	}
	.content {
		top: $actions_height;
		left: $members_width; //// 
		position: relative;
		border: 1px solid red;
		margin: 15px 10px;
		.day_picker {
			min-height: 40px;
			background-color: beige;
			margin: 0px 0px 10px 10px;				
		}
		.events {
			@include display-box;
			@include box-orient(horizontal);
			min-height: 600px;
			padding: 0px 10px;
			.events-now {
				@include display-box;
				@include box-flex(1);
				@include box-orient(vertical);
				@include box-align(stretch);
				.past_events {
					@include box-flex(0);;
				}
				.current_day {
					position: relative;
					@include box-flex(1);
					.panel a {
						position: absolute;
						right: 10px;
					}
				}	
			}
			.events-coming {
				@include display-box;
				@include box-flex(1);
				@include box-orient(vertical);
				@include box-align(stretch);
				.next_day {
					position: relative;
					.panel a {
						position: absolute;
						right: 10px;
					}
					@include box-flex(1);
				}
				.future {
					@include box-flex(4);
				}
			}
		}
	}
}
