/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /Users/ladislavsolc/Projects/fireside/public/sass/_global.scss */
body {
  font-family: Arial;
}

/* line 5, /Users/ladislavsolc/Projects/fireside/public/sass/_global.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 6, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
#events .current {
  width: 40%;
  position: relative;
  top: 20px;
  left: 20px;
}

/* line 13, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item {
  width: 550px;
  margin: 15px 3px;
  border-bottom: solid 1px #cccccc;
}
/* line 17, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header {
  width: 550px;
  position: relative;
}
/* line 20, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header > section {
  position: absolute;
  width: 550px;
}
/* line 24, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .time_panel {
  color: #ff5600;
  font-weight: bold;
  font-size: 10pt;
}
/* line 29, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: cursive;
  color: #555555;
}
/* line 36, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .actions {
  float: right;
  width: 50px;
}
/* line 39, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .actions img {
  width: 16px;
  height: 16px;
}
/* line 44, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .photos {
  float: left;
  width: 64px;
  height: 32px;
  font-size: 0.5em;
}
/* line 45, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .photos img {
  width: 32px;
  height: 32px;
}
/* line 58, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > .details_panel {
  margin: 12px;
  color: #555555;
}

/* line 67, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header {
  height: 72px;
}
/* line 77, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel {
  height: 40px;
}
/* line 79, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel .time_panel, section.event_item.partial > header .top_panel .title {
  display: block;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
/* line 86, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel .time_panel {
  width: 110px;
}
/* line 89, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel .title {
  width: 440px;
  right: 0;
  font-size: 12pt;
}
/* line 96, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .action_panel {
  top: 40px;
  height: 32px;
}
/* line 99, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .action_panel > .details_panel {
  width: 404px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 9pt;
  color: #999999;
}

/* line 111, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header {
  height: 88px;
}
/* line 120, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header .top_panel {
  height: 20px;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 127, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header .title {
  top: 20px;
  height: 36px;
  width: 100%;
  font-size: 15pt;
}
/* line 134, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header .action_panel {
  top: 56px;
  height: 32px;
}
/* line 140, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > .details_panel {
  width: 550px;
}
