/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /Users/ladislavsolc/Projects/fireside/public/sass/_global.scss */
body {
  font-family: Arial;
}

/* line 5, /Users/ladislavsolc/Projects/fireside/public/sass/_global.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* @group Base */
/* line 2, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 9, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

/* @end */
/* @group Single Chosen */
/* line 25, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}

/* line 54, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 63, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}

/* line 73, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}

/* line 76, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}

/* line 84, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-single div b {
  background: url("chosen-sprite.png") no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 90, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}

/* line 97, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-search input {
  background: white url("chosen-sprite.png") no-repeat 100% -22px;
  background: url("chosen-sprite.png") no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url("chosen-sprite.png") no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}

/* line 112, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* @end */
/* line 122, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */
/* line 128, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}

/* line 145, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}

/* line 149, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* line 154, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 169, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}

/* line 172, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}

/* line 198, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}

/* line 201, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}

/* line 211, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}

/* line 214, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}

/* @end */
/* @group Results */
/* line 220, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 228, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}

/* line 232, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}

/* line 239, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}

/* line 243, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  color: #fff;
}

/* line 254, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 258, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}

/* line 261, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}

/* line 265, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}

/* line 270, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}

/* line 273, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}

/* line 276, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */
  z-index: 1;
}

/* line 284, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}

/* line 290, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}

/* line 293, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results-scroll-down span {
  background: url("chosen-sprite.png") no-repeat -4px -3px;
}

/* line 296, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container .chzn-results-scroll-up span {
  background: url("chosen-sprite.png") no-repeat -22px -3px;
}

/* @end */
/* @group Active  */
/* line 302, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 309, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 330, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}

/* line 334, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}

/* line 337, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 344, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
/* line 350, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
}

/* line 354, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-disabled .chzn-single {
  cursor: default;
}

/* line 357, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
/* line 362, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl {
  text-align: right;
}

/* line 363, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}

/* line 364, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}

/* line 366, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}

/* line 367, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}

/* line 371, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}

/* line 372, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-choices li {
  float: right;
}

/* line 373, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}

/* line 374, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}

/* line 375, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 376, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}

/* line 377, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}

/* line 378, /Users/ladislavsolc/Projects/fireside/public/sass/_chosen.scss */
.chzn-rtl .chzn-search input {
  background: white url("chosen-sprite.png") no-repeat -38px -22px;
  background: url("chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url("chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}

/* @end */
/* line 3, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-bg i,
.jslider .jslider-pointer {
  background: url(../img/jslider.png) no-repeat 0 0;
}

/* line 5, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider {
  display: block;
  width: 70%;
  height: 1em;
  position: relative;
  top: 0.6em;
  font-family: Arial, sans-serif;
}

/* line 6, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

/* line 7, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider td, .jslider th {
  padding: 0;
  vertical-align: top;
  text-align: left;
  border: 0;
}

/* line 11, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider table,
.jslider table tr,
.jslider table tr td {
  width: 100%;
  vertical-align: top;
}

/* line 13, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-bg {
  position: relative;
}

/* line 14, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-bg i {
  height: 5px;
  position: absolute;
  font-size: 0;
  top: 0;
}

/* line 15, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-bg .l {
  width: 50%;
  background-position: 0 0;
  left: 0;
}

/* line 16, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-bg .r {
  width: 50%;
  left: 50%;
  background-position: right 0;
}

/* line 17, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-bg .v {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 0;
  height: 5px;
  background-position: 0 -20px;
}

/* line 19, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-pointer {
  width: 13px;
  height: 15px;
  background-position: 0 -40px;
  position: absolute;
  left: 20%;
  top: -4px;
  margin-left: -6px;
  cursor: pointer;
  cursor: hand;
}

/* line 20, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-pointer-hover {
  background-position: -20px -40px;
}

/* line 21, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-pointer-to {
  left: 80%;
}

/* line 23, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-label {
  font-size: 9px;
  line-height: 12px;
  color: black;
  opacity: 0.4;
  white-space: nowrap;
  padding: 0px 2px;
  position: absolute;
  top: -18px;
  left: 0px;
}

/* line 24, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-label-to {
  left: auto;
  right: 0;
}

/* line 26, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-value {
  font-size: 9px;
  white-space: nowrap;
  padding: 1px 2px 0;
  position: absolute;
  top: -19px;
  left: 20%;
  background: white;
  line-height: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 27, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-value-to {
  left: 80%;
}

/* line 30, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-label small,
.jslider .jslider-value small {
  position: relative;
  top: -0.4em;
}

/* line 32, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-scale {
  position: relative;
  top: 9px;
}

/* line 33, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}

/* line 34, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider .jslider-scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 5px;
  color: #999;
}

/* line 39, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label {
  display: none;
}

/* line 44, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider_round .jslider-bg i,
.jslider_round .jslider-pointer {
  background-image: url(../img/jslider.round.png);
}

/* line 45, /Users/ladislavsolc/Projects/fireside/public/sass/_jslider.scss */
.jslider_round .jslider-pointer {
  width: 17px;
  height: 17px;
  top: -6px;
  margin-left: -8px;
}

/* line 6, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
#events .current {
  width: 40%;
  position: relative;
  top: 20px;
  left: 20px;
}

/* line 13, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item {
  width: 550px;
  margin: 15px 3px;
  border-bottom: solid 1px #cccccc;
}
/* line 17, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header {
  width: 550px;
  position: relative;
}
/* line 20, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header > section {
  position: absolute;
  width: 550px;
}
/* line 24, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .time_panel {
  color: #ff5600;
  font-weight: bold;
  font-size: 10pt;
}
/* line 29, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: cursive;
  color: #555555;
}
/* line 36, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .actions {
  float: right;
  width: 50px;
}
/* line 39, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .actions img {
  width: 16px;
  height: 16px;
}
/* line 44, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .photos {
  float: left;
  width: 64px;
  height: 32px;
  font-size: 0.5em;
}
/* line 45, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > header .action_panel .photos img {
  width: 32px;
  height: 32px;
}
/* line 58, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item > .details_panel {
  margin: 12px;
  color: #555555;
}

/* line 65, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header {
  height: 72px;
}
/* line 75, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel {
  height: 40px;
}
/* line 77, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel .time_panel, section.event_item.partial > header .top_panel .title {
  display: block;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
/* line 84, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel .time_panel {
  width: 110px;
}
/* line 87, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .top_panel .title {
  width: 440px;
  right: 0;
  font-size: 12pt;
}
/* line 94, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .action_panel {
  top: 40px;
  height: 32px;
}
/* line 97, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.partial > header .action_panel > .details_panel {
  width: 404px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 9pt;
  color: #999999;
}

/* line 108, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header {
  height: 88px;
}
/* line 117, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header .top_panel {
  height: 20px;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 124, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header .title {
  top: 20px;
  height: 36px;
  width: 100%;
  font-size: 15pt;
}
/* line 131, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > header .action_panel {
  top: 56px;
  height: 32px;
}
/* line 137, /Users/ladislavsolc/Projects/fireside/public/sass/_events.scss */
section.event_item.full > .details_panel {
  width: 550px;
}

/* line 2, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container, body#edit .container {
  width: 550px;
  border: 1px solid;
}
/* line 5, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event, body#edit .container form#new_event {
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #ff5600;
}
/* line 9, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event h3, body#edit .container form#new_event h3 {
  background-color: #eeeeee;
  height: 15px;
  padding: 5px 0px 5px 10px;
  color: #ff5600;
}
/* line 15, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event #title, body#new .container form#new_event #description, body#new .container form#new_event fieldset, body#new .container form#new_event .controls, body#new .container form#new_event .members, body#edit .container form#new_event #title, body#edit .container form#new_event #description, body#edit .container form#new_event fieldset, body#edit .container form#new_event .controls, body#edit .container form#new_event .members {
  margin-top: 16px;
  margin-left: 70px;
}
/* line 19, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event span#date, body#new .container form#new_event span#time, body#edit .container form#new_event span#date, body#edit .container form#new_event span#time {
  border: 1px solid blue;
}
/* line 23, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time, body#edit .container form#new_event section.time {
  height: 120px;
}
/* line 25, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time section.from, body#new .container form#new_event section.time section.to, body#edit .container form#new_event section.time section.from, body#edit .container form#new_event section.time section.to {
  margin-left: 10px;
}
/* line 28, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time section.from select#hours, body#new .container form#new_event section.time section.to select#hours, body#edit .container form#new_event section.time section.from select#hours, body#edit .container form#new_event section.time section.to select#hours {
  margin-left: 40px;
}
/* line 31, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time section.from #hours, body#new .container form#new_event section.time section.from #minutes, body#new .container form#new_event section.time section.to #hours, body#new .container form#new_event section.time section.to #minutes, body#edit .container form#new_event section.time section.from #hours, body#edit .container form#new_event section.time section.from #minutes, body#edit .container form#new_event section.time section.to #hours, body#edit .container form#new_event section.time section.to #minutes {
  font-size: 16px;
  margin-top: 16px;
}
/* line 37, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time section.duration, body#edit .container form#new_event section.time section.duration {
  margin-left: 10px;
  margin-top: 30px;
}
/* line 40, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time section.duration .layout-slider, body#edit .container form#new_event section.time section.duration .layout-slider {
  bottom: 20px;
  left: 85px;
  position: relative;
}
/* line 47, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event section.time section.to #time, body#new .container form#new_event section.time section.to #date, body#edit .container form#new_event section.time section.to #time, body#edit .container form#new_event section.time section.to #date {
  margin-left: 60px;
}
/* line 52, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event #title, body#edit .container form#new_event #title {
  height: 20px;
}
/* line 56, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event #description, body#edit .container form#new_event #description {
  width: 410px;
  height: 60px;
  border: 1px solid #cccccc;
}
/* line 61, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event .controls, body#edit .container form#new_event .controls {
  width: 150px;
  margin-bottom: 20px;
}
/* line 64, /Users/ladislavsolc/Projects/fireside/public/sass/_event_detail.scss */
body#new .container form#new_event .controls .create_button, body#new .container form#new_event .controls .save_button, body#edit .container form#new_event .controls .create_button, body#edit .container form#new_event .controls .save_button {
  margin-right: 10px;
  width: 60px;
  height: 30px;
}
