<section class="container">	
	<form id="new_event" action="new_submit" method="get" accept-charset="utf-8">
		<h3>New Event</h3>
	
		<section class="temp_time_controls">
				<label for="">From:</label><input type="text" size="40" name="" value="13.3.2012 14:30" id="time_from"><br />			
				<label for="">Duration:</label><input type="text" size="40" name="" value="4" id="time_duration"><br />		
				<label for="">To:</label><input type="text" name="" size="40" value="13.3.2012 18:30" id="time_to">			
		</section>	
		
		<section class="time">			
			<section class="from">
				<span>From:</span>
				<select id="hours"></select>
				<span>:</span>
				<select id="minutes"></select>
				
				<span id="date">22/4 2012</span>			
			</section>
			
			<section class="duration">
				<span>Duration:</span>
				<div class="layout-slider">
					<input id="SliderSingle" type="slider" name="price" value="20" />
				</div>			    
			</section>
			
			<section class="to">
				<span>To:</span>
				<span id="time">18:30</span>
				<span id="date">22/4 2012</span>									
			</section>		    		
		</section>	
		
		<input type="text"  size="58" name="" value="" id="title" placeholder="Title:">
		<textarea name="Name" rows="8" cols="40" id="description" placeholder="Description:"></textarea>		
		
		<section class="members">
			<select id="members" data-placeholder="Choose a member..." multiple="multiple" style="width: 412px;">
				{{#each members}}
				<option id="" value="{{this.id}}">{{this.display_name}}</option>	
				{{/each}}											
			</select>
		</section>	
		
		
		<ul id="errors"></ul>
		<section class="controls">
			<input type="button" value="Create" class="create_button">			
			<input type="button" value="Cancel" class="save_button">
		</section>				
	</form>
</section>	

<!--
<fieldset id="from" class="">
<legend>From</legend>
<input id="current_day" value={{current_day}} type="date">
<input id="current_time" value="" type="time">						
</fieldset>
					
<fieldset id="till" class="">
<legend>To</legend>
<input value="" placeholder="" type="date">
<input value="" placeholder="" type="time">			
</fieldset>-->
