
	<form id="member_form" action="" method="" accept-charset="utf-8">
		<h3>Add Member</h3>
		<input type="text"   name="household" value="" id="household" placeholder="Household:">
		<input type="text"   name="name" value="{{model.display_name}}" id="name" placeholder="Name:">
		
		<ul id="errors"></ul>
		<section class="controls">
			<input type="button" value="Create" class="create_button">			
			<a href="#/">Cancel</a>
		</section>	
	</form>
