{{#with content}}
	<button type="button"><img {{bindAttr src="image_url"}} /></button>
{{/with}}


<!--
{{#with content}}
	<button type="button"><img {{bindAttr src="image_url"}} /></button>
{{/with}}-->




