<section class="navigation">
	{{outlet nav}}
</section>

<div class="container-fluid">
	<div class="row-fluid">
		
		
		<aside class="sidebar hidden-phone span2"> <!-- .hidden-phone	-->
			{{outlet sidebar}}
		</aside>

		<section class="content span10">
			{{outlet content}}
		</section>
		
		
	</div>
</div> <!-- /.container-fluid -->